.sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 43px;
  min-height: 100%;
  background-color: #FCFBFB;

  &__item {
    min-height: 36px;
  }
}

.sidebar-item {
  position: relative;
  align-content: center;
  text-align: center;

  &__link {
    min-height: 24px;
  }

  &--active {
    color: #F8346B;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 100%;
      background-color: currentColor;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
}

.sidebar-item-link {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  &:hover {
    text-decoration: underline;
  }

  &__icon {
    flex-shrink: 0;
  }
}