@use "@/styles/_variables" as vars;

.platform-header {
  position: sticky;
  min-height: 60px;
  align-content: center;
  background-color: vars.$bg_color;
  box-shadow: 0 1px 2px #1D21261A;
  padding-left: 64px;
  padding-right: 64px;
}

.platform-header-logo {
  display: inline-block;
  color: vars.$text_color;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
}
