@use "@/styles/_variables" as vars;
$search-height: 36px;
$icon-size: 24px;
$input-inline-padding: 12px;

.search {
  position: relative;
  border-radius: 2px;
  border: 1px solid #DEDBDC;
  height: $search-height;

  &::before {
    content: "";
    position: absolute;
    left: $input-inline-padding;
    top: 50%;
    transform: translateY(-50%);
    width: $icon-size;
    height: $icon-size;
    background-image: url("@/assets/icons/search.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.search-input {
  width: 100%;
  height: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: $input-inline-padding * 2 + $icon-size;
  padding-right: $input-inline-padding;

  background: none;
  border: none;
  outline: none;

  font-family: vars.$font_family;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;



  &::placeholder {
    color: #B3B0B1;
  }

}