@use "@/styles/_variables" as vars;

.blog {
  width: 100%;
  padding-bottom: 12px;

  &:not(:first-child) {
    padding-top: 12px;
  }

  &__container {
    display: flex;
  }

  &__content {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 12px;
  }

  &__title {
    margin-top: 5px;
    margin-bottom: 0;
  }

  &__subtitle {
    margin-top: 2px;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 24px;
    margin-bottom: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #1D21261A;
  }
}

.blog-content {
}

.blog-img {
  min-width: 156px;
  min-height: 156px;
  border: 1px solid #DEDBDC;
  border-radius: 50%;
  position: relative;
  background-color: #fff;

  &__icon {
    position: absolute;
    background-image: url("@/assets/icons/empty.svg");
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.blog-

.blog-content {
  margin-left: 12px;
}

.blog-title {
  font-family: vars.$font_family;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.blog-subtitle {
  font-family: vars.$font_family;
  font-size: 14px;
  line-height: 24px;
  color: #737076;

  &__link {
    color: #3677F7;
  }
}

.blog-description {
  font-family: vars.$font_family;
  font-size: 14px;
  line-height: 24px;
  color: #1A1718;
}