.platform-blog {
  display: flex;

  &__picture {
    flex-shrink: 0;
  }

  &__content {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 12px;
  }

  &__subtitle {
    margin-top: 2px;
  }

  &__description {
    margin-top: 24px;
  }
}

.platform-blog-picture {
  display:flex;
  align-items:center;
  justify-content: center;
  width: 156px;
  height: fit-content;
  aspect-ratio: 1 / 1;
  border: 1px solid #DEDBDC;
  border-radius: 50%;
  overflow: hidden;
}

.platform-blog-content {
  margin-left: 12px;
}

.platform-blog-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.platform-blog-subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #737076;

  &__link {
    text-decoration: underline;
    color: #3677F7;

    &:hover {
      text-decoration: none;
    }
  }
}

.platform-blog-description {
  font-size: 14px;
  line-height: 24px;
  color: #1A1718;
}