$horizontal-gap: 20px;

.platform-post-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px $horizontal-gap;

  &__item {
    min-width: 300px;
    max-width: calc(25% - 3 * $horizontal-gap);
    width: 100%;
    flex-grow: 1;
  }
}